<h3>Add Book</h3>

  <form [formGroup]="bookForm" (submit)="createBook()" class="form-inline mb-4">
    <label class="sr-only" for="Name">Name</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="name" placeholder="name">
    </div>

    <label class="sr-only" for="Phone">Author</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="author" placeholder="author">
    </div>

    <button type="submit" class="btn btn-primary mb-2">Add Book</button>
  </form>